%h1= link_to "All Discussions", articles_path
.ui.borderless.text.menu
  .left.floated.item
    = form_tag(articles_path, method: :get, id: :search_form, class: "ui action left icon input") do
      %i.search.icon
      = text_field_tag 'search', params[:search], placeholder: "Concept search..."
      = button_tag 'Search', class: "ui teal button"
  .right.floated.item
    = button_to 'Retrieve Articles', retrieve_articles_path, remote: true, class: 'ui blue button'
.ui.grid
  .one.column.row
    .column
      .import.segment{style: "display:none"}
        .ui.indicating.progress.active#import
          .bar{:style => "transition-duration: 300ms"}
            .progress#text 0%
          .label Importing Articles
      .ui.cards.centered
        - @articles.each do |article|
          - color = ["red","orange", "yellow", "olive", "green","teal", "blue","violet","purple","pink"].sample
          %div{ :class => "#{color} card" }
            .content
              %h2.header= link_to article.title, article_path(article)
              .description= article.excerpt
            .extra.content
              - article.concepts.each do |c|
                = link_to c.tag, articles_path(:search => "#{c.tag}")
