%h1
  %strong
  = link_to @article.title, @article.url

.ui.segment

  =image_tag(@article.image, class:"ui large left floated image")

  %p= @article.excerpt
  %p= link_to "Read more ..."


  %h3 Concepts

  - @article.concepts.each do |c|
    = best_in_place c, :tag, :as => :input, :url => concept_path(id: c.id), :class => "ui small input"

  .ui.hidden.divider

  = link_to 'Tag', tag_article_path, class: "ui green button"
  //= link_to 'Edit', edit_article_path(@article), class: "ui teal button"
  = link_to 'Back', articles_path, class: "ui blue button"
